@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('http://allfont.ru/allfont.css?fonts=comic-sans-ms');
@font-face {
    font-family: "Myriad Pro";

    src: url("../fonts/8143.woff") format("woff"), /* Modern Browsers */
    url("../fonts/8143.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Myriad Pro";

    src: url("../fonts/ofontruMyriadProBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/ofontruMyriadProBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}