.advantages{
    padding-top: 130px;
    padding-bottom: 75px;
}
.advantages__title{
  font-family: Myriad Pro;
  font-size: 44px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.33;
  color: #040404;

}
.advantages__list{
    display: flex;
    justify-content: center;
}
.advantages__item{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 360px;
    padding: 0 20px;
    text-align: center;
}
.advantages__item-img{
    margin-bottom: 11px;
    width: 215px;
   /* height: 99px;*/
}
.advantages__item-title{
    font-family: Ubuntu;
    font-size: 21px;
    font-weight: bold;
    color: #505d68;
    margin-bottom: 23px;
}
.advantages__item-desc{
    line-height: 1.5;
    color: #a1aeb7;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
}