.explanation__title{
    font-family: Ubuntu;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #505d68;
    margin-bottom: 115px;
}
.explanation__item{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.explanation__item-title{
    font-family: Ubuntu;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #505d68;
    margin-bottom: 14px;
    white-space: nowrap;
    width: 500px;
}   

.explanation__item-desc{
    font-family: "Myriad Pro";
    font-size: 16px;
    margin-left: 47px;
    max-width: 418px;
    text-align: left;
    font-weight: normal;
    color: #a1aeb7;
    line-height: 1.57;
    letter-spacing: 0.14px;
}
.explanation__item-text{
    width: 453px;
    position: absolute;
    right: 253px;
    display: flex;
}
.explanation__item--reverse .explanation__item-text{
    left: 10px;
}
.explanation__item--reverse .explanation__item-title{
    text-align: center;
}
.explanation__item--reverse .explanation__item-desc{
    margin-left: 83px;
}
.explanation__item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.explanation__item--reverse{
    flex-direction: row-reverse;
}

.explanation__item-wrap{
    width: 483px;
    height: 361px;
    background-color: #f4f4f4;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.explanation__item--reverse .explanation__item-wrap:before{
    left: -36px;
}
.explanation__item-wrap:before{
    content: '';
    width: 467px;
    height: 56px;
    background-color: #da4056;
    position: absolute;
    top: -29px;
    z-index: -1;
    left: 50px;
}
.exlpanation__item-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}