.hero{
    /*height: 653px;*/
    background-color: #ffffff;
    margin-top: 32px;
}
.hero__column{
    width: 50%;
    height: 100%;
}
.hero__list{
    display: flex;
    width: 100%;
}
.hero__item{
    width: 100%;
    height: 690px;
}

.hero__welcome{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 172px;
}
.hero__welcome-small{
    font-family: Ubuntu;
    font-size: 21px;
    font-weight: 500;
    color: #a1aeb7;
    margin-bottom: 20px;
}
.hero__welcome-big{
    font-family: Ubuntu;
    font-size: 66px;
    font-weight: normal;
    color: #505d68;
}


.hero__controls{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 112px;
    
    background-image: url('../../img/shape.png');
    background-repeat: no-repeat;
    background-position: -130px 232px;
}
.hero__controls-button{
    width: 165px;
    height: 40px;
    border-radius: 4px;
    background-color: #424b5a;
    text-align: center;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin-right: 82px;
    line-height: 47px;
}
.hero__controls-link{
    font-family: Ubuntu;
    font-size: 12px;
    color: #424b5a;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.hero__controls-link::after{
    content: '';
    display: block;
    width: 22px;
    height: 25px;
    margin-left: 7px;
    background-image: url('../../img/icons/play-icon.png');
    background-repeat: no-repeat;
}

.hero__header{
    position: absolute;
    right:11px;
    top: 23px;
}
.hero__header-list{
    display: flex;
}
.hero__header-item{
    margin-right: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.32px;
    color: #213042;
}


.hero__banner{
    position: absolute;
    left: 80px;
    top: 105px;

    padding-top: 18px;
    width: 419px;
    opacity: 0.95;
    border: solid 2px #ff0000;
    background-color: #da384f;
    padding-bottom: 139px;
}
.hero__banner:before{
    content: '';
    display: block;
    background-image: url(../../img/flower.png);
    width: 206px;
    height: 289px;
    position: absolute;
    top: -80px;
    left: -67px;    
}
.hero__banner-title{
    font-family: 'Comic Sans MS', arial;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    margin-right: 27px;
    margin-left: 52px;
}
.hero__banner-title:nth-child(1){
    padding-left: 33px;
}
.hero__banner-title:nth-child(2){
    font-size: 60px;
    margin-bottom: 19px;
}
.hero__banner-desc{
    font-family: "Myriad Pro";
    font-size: 21px;
    font-weight: normal;
    font-style:italic;
    color: #ffffff;
    line-height: 1.43;
    margin-left: 30px;
    margin-right: 16px;
    margin-bottom: 25px;
}
.hero__banner-call{
    width: 231px;
    height: 66px;
    border: solid 2px #ff0000;
    background-color: #f2819f;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    letter-spacing: 0.45px;
    color: #ffffff;
    margin-bottom: 29px;
    margin-left: 25px;
}
.hero__banner-item{
    font-family: Myriad Pro;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
}
.hero__banner-item:before{
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../../img/icons/white-icon.png);
    background-repeat: no-repeat;
    margin-right: 17px;
    margin-left: 29px;
}