.questions{
    padding-top: 113px;
    margin-bottom: 154px;
}
.questions__title{
  font-family: Ubuntu;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 56px;
  color: #505d68;
}
.questions__block{
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
    
}
.questions__button{
    width: 244px;
    height: 59px;
    color: #ffffff;
    margin-right: 114px;
    border: solid 2px #ff0000;
    background-color: #f2819f;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 900;
}
.questions__button:last-child{
    margin-right: 0;
}
.questions__link{
    display: block;
    width: 165px;
    height: 40px;
    background-color: #424b5a;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: normal;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 13px;
}
