.send{
    height: 653px;
    background-color: #ffffff;
    position: relative;
}
.send__info-title{
    font-family: Ubuntu;
    font-size: 66px;
    font-weight: 500;
    color: #505d68;
    margin-bottom: 65px;
    max-width: 560px;
}
.send__info-item{
    color: #a1aeb7;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
}
.send__info-item::before{
    content: '';
    display: block;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background: url('../../img/icons/icon.png') no-repeat;
}

.send__inner{
    height: 632px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 78px;
    padding-right: 46px;
    position: absolute;
    right: 81px;
    top: 95px;
    opacity: 0.95;
    border: solid 2px #ff0000;
    background-color: rgba(218, 56, 79,0.8)
}
.send__inner-title{
    font-family: 'Comic Sans MS', arial;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 43px;
    color: #ffffff;
    max-width: 300px;
    text-align: center;
}
.send__form{
    display: flex;
    flex-direction: column;
}
.send__form-input{
    width: 295px;
    border-radius: 3px;
    background-color: #ffffff;
    border:0;
    margin-bottom: 16px;
    padding: 10px 5px;
}
.send__form-input::placeholder{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    color: #c2d1d9;
    line-height: 1.29;
    text-align: center;
}
.send__form-submit{
    width: 295px;
    height: 40px;
    background-color: #c2d1d9;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 500;
    color: #424b5a;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.send__form-select{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    color: #c2d1d9;
    line-height: 1.29;
}
.send__reg{
    font-family: 'Comic Sans MS', arial;
    font-weight: normal;
    font-size: 16px;
    color:white;
}
.send__reg a{
    font-weight:bold;

}