.team{
    padding-top: 50px;
    padding-bottom: 110px;
    text-align: center;
}
.team__title{
    font-family: 'Comic Sans MS', arial;
        font-size: 50px;
    font-weight: bold;
    color: #505d68;
    margin-bottom: 25px;
}
.team__desc{
    font-family: 'Comic Sans MS', arial;
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.43;
    color: #a1aeb7;
    margin-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    max-width: 576px;
}
.team__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team__item{
    display: flex;
    align-items: center;
    padding-right: 22px;
    border-right: 2px #f2819f solid;
    margin-bottom: 39px;
    margin-right: 22px;
    width: 345px;
}
.team__item a{
    width: 100%;
}
.team__item-inner{
    display: flex;
    align-items: center;
    border-bottom: 2px #f2819f solid;
    padding-bottom: 24px;
    width: 100%;
}
.team__item-data strong{
    display: block;
    font-family: 'Comic Sans MS', arial;
        font-size: 16px;
    font-weight: bold;
    color: #505d68;
    margin-bottom: 14px;
}
.team__item-data p{
    font-family: 'Comic Sans MS', arial;
    font-size: 14px;
    font-weight: 500;
    color: #a1aeb7;
}
.team__item:nth-child(3n+3){
    border-right: 0;
    margin-right: 0;
}
.team__item-img{
    margin-right: 24px;
    width: 120px;
    border-radius: 50%;
}
