.team{
    padding-top: 50px;
    padding-bottom: 110px;
    text-align: center;
}
.team__title{
    font-family: 'Comic Sans MS', arial;
        font-size: 50px;
    font-weight: bold;
    color: #505d68;
    margin-bottom: 25px;
}
.team__desc{
    font-family: 'Comic Sans MS', arial;
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.43;
    color: #a1aeb7;
    margin-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    max-width: 576px;
}
.team__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team__item{
    display: flex;
    align-items: center;
    padding-right: 22px;
    margin-bottom: 27px;
    margin-right: 22px;
    width: 345px;
    position: relative;
}
.team__item::after{
    content: '';
    height: 100%;
    position: absolute;
    width: 2px;
    background-color: #f2819f;
    right: 0;
    top: -13px;
}
.team__item:nth-child(-n+3)::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f2819f;
    position: absolute;
    top: -28px;
    left: -11px;
}
.team__item a{
    width: 100%;
}
.team__item-inner{
    display: flex;
    align-items: center;
    border-bottom: 2px #f2819f solid;
    padding-bottom: 24px;
    width: 100%;
}
.team__item-data strong{
    display: block;
    font-family: 'Comic Sans MS', arial;
        font-size: 16px;
    font-weight: bold;
    color: #505d68;
    margin-bottom: 14px;
}
.team__item-data p{
    font-family: 'Comic Sans MS', arial;
    font-size: 14px;
    font-weight: 500;
    color: #a1aeb7;
}
.team__item:nth-child(3n+3){
    border-right: 0;
    margin-right: 0;
}
.team__item:nth-child(3n+3)::after{
    width: 0;
}
.team__item:nth-child(n + 4)::before{
    width: 0;
}
.team__item-img{
    margin-right: 24px;
    width: 120px;
    border-radius: 50%;
    height: 120px;
    object-fit: cover;
    flex: 0 0 auto;
}
